body {
  background-color: blue;
}

h1.k:nth-child(2) {
  transform: translateZ(1px);
}
h1.k:nth-child(3) {
  transform: translateZ(2px);
}
h1.k:nth-child(4) {
  transform: translateZ(3px);
}
h1.k:nth-child(5) {
  transform: translateZ(4px);
}
h1.k:nth-child(6) {
  transform: translateZ(5px);
}
h1.k:nth-child(7) {
  transform: translateZ(6px);
}
h1.k:nth-child(8) {
  transform: translateZ(7px);
}
h1.k:nth-child(9) {
  transform: translateZ(8px);
}
h1.k:nth-child(10) {
  transform: translateZ(9px);
}
h1.k:nth-child(11) {
  transform: translateZ(10px);
}
h1.k:nth-child(12) {
  transform: translateZ(11px);
}
h1.k:nth-child(13) {
  transform: translateZ(12px);
}
h1.k:nth-child(14) {
  transform: translateZ(13px);
}
h1.k:nth-child(15) {
  transform: translateZ(14px);
}
h1.k:nth-child(16) {
  transform: translateZ(15px);
}
h1.k:nth-child(17) {
  transform: translateZ(16px);
}
h1.k:nth-child(18) {
  transform: translateZ(17px);
}
